beautifulsoup4 # for scraping the wikipedia pages
langdetect # for detecting the language of text
re # for data cleaning
numba # for faster scraping with cuda
fasttext # for unsupervised embedding training
